bin/donotinclude*
bin/*.exe
saves/*
lib/*
*.depend
*.layout
.objs/*
*ReleaseSingleLib*
*example_*
logs/*
*.x
thirdparty/lu*

thirdparty/boost*
*.blend1
assets_editor/testAnim3.3ds
assets_editor/cactus.blend
assets_editor/testAnim3.blend
assets_editor/testAnim2.blend
assets_editor/testcube.blend
assets_editor/testcube.blend
assets_editor/testcube.blend
content-packs/Standard Content*
